div.players
    div.player-0(data-js-player-0)
    div.player-1(data-js-player-1)
div.controls
    button(data-js-btn-pass) Fold
    button(data-js-btn-def) Call
    button(data-js-btn-attack) Raise
    button(data-js-btn-super) All-In
button(data-js-btn-tick) Tick!